
* {
    box-sizing: border-box;
}
body {
    background: #ffeeee;
    background: -webkit-linear-gradient(to right, #c1b7ea, #ffeeee);
    background: linear-gradient(to right, #c1b7ea, #ffeeee);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.mobile-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header #search{
    background-color: transparent;
    color: #aaa;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.book {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin: 1.5rem;
}

.book-header {
    position: relative;
}

.book-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.book-header img {
    height: 300px;
    width: 100%;
}

.book-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.book-body h4 {
    margin: 0;
}
